19장 배포 시스템

> **19.2.16 WebDAV의 미래** (518p)
> WebDAV는 현재도 잘 지원되고 있다.

### 책 내용 이후의 FP는...

- FP 는 독자적인 프로토콜(독자적인 규격의 RPC over HTTP : FPSE 를 말하는 듯 함)을 사용하다가 결국 표준인 FTP나 WebDAV 로 갈아타게 됐다.
- 이후 더 이상 차기 버전을 출시하지 않아 Apache 2.4+ 버전과 호환이 되지 않아 사장됨.
    - Expression Web, SharePoint Designer 이 출시되면서 대체되었는데 결국 얘네도 차기 버전을 출시하지 않는 듯 함. 🤔

> https://en.wikipedia.org/wiki/Microsoft_FrontPage
> https://blog.tigertech.net/posts/frontpage-support-ends

### WebDAV 가 낳은 프로토콜들

> WebDAV를 간단히 하면 잠금 기능을 통한 안전한 공유 파일 시스템을 HTTP를 통해 제공하는 프로토콜이다.
> 예를 들어 NAS에 구성하면 어디에서나 접근 가능한 공유 폴더로 사용할 수도 있다.
> Apache HTTP server, Nginx, Git, Microsoft Office, ... 상당히 많은 곳에서 쓰인다.

WebDAV 가 파생되어 목적에 따른 다른 프로토콜도 만들어 졌다.
- CalDAV
  - Calendaring Extensions to WebDAV (RFC 4791 : 캘린더, RFC 6638 : 스케쥴)
- CardDav
  - vCard Extensions to WebDAV (RFC 6352 : 연락처)
이 둘은 WebDAV의 기능을 온전히 사용하면서 특수 목적 용도로 사용되는 프로토콜이다.
WebDAV 처럼 각 리소스들을 URI로 계층화하여 표현할 수 있다.
예를 들어 joe 의 home 캘린더에서 특정 이벤트(buy-beer / family-meeting)를 다음과 같이 표현할 수 있다.
- `http://icloud.com/calendars/joe/home/buy-beer`
- `http://icloud.com/calendars/joe/home/family-meeting`

> https://stackoverflow.com/questions/30048720/whats-the-difference-between-webcal-and-webdav-caldav
> https://en.wikipedia.org/wiki/WebDAV
> https://en.wikipedia.org/wiki/CalDAV
> https://en.wikipedia.org/wiki/CardDAV

### WebDAV 를 왜 써야 하는지...

WebDAV 가 기능이 엄청 많다. (이 모든 혜택을 주는 서비스, 규격이 없다)
- HTTP/HTTPS 기반 (OS 독립적, 웹 서비스와 확장 용이, 보안)
- 무료
- 버전 관리
- 원격 제어
- 중앙 집중식 스토리지
- 잠금 기능

대안으로 불리는 SFTP, SCP 는 버전 관리를 지원해주지 않고 있다.
그 외 무료 클라우드 스토리지를 사용하면 좋겠지만 가격..

> https://www.comparitech.com/net-admin/webdav/

느낀점

* 이당시 HTTP는 너무나 많은 기능을 구겨 넣으려 한 듯.

**TODO**

현재의 배포 시스템
